@model IEnumerable<StatiiIncarcare.Models.DB.Statie>


@{
    ViewData["Title"] = "Statii Incarcare";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}

<div class="row">
    <div class="col-md-8 offset-md-2">

 <table class="table">
      <thead>
        <tr>
            <th>
                @*<a asp-action="GetStatii" asp-controller="Statii">Nume</a>*@
                @Html.ActionLink("Nume", "GetStatii", "Statii", new { sortOrder = ViewBag.NumeSortParm , searchString = ViewBag.SearchString})
             @*   @Html.DisplayNameFor(model => model.Nume)*@
            </th>
            <th>
                @Html.ActionLink("Adresa", "GetStatii", new { sortOrder = ViewBag.AdresaSortParm})
              @*  @Html.DisplayNameFor(model => model.Adresa)*@
            </th>
            <th>
                Oras @*@Html.DisplayNameFor(model => model.S)*@
            </th>

        </tr>
      </thead>
     <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                <form asp-action="Edit" asp-route-id="@item.IdStatie">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                </form> 
                <form asp-action="Details" asp-route-id="@item.IdStatie">
                    <button type="submit" class="btn btn-outline-info">Details</button></form> 
                <form asp-action="Delete" asp-route-id="@item.IdStatie">
                    <button type="submit" class="btn btn-outline-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</div>


<th>
    <a asp-action="CreateStatie" class="btn btn-sm btn-success">
         <i class="fa-solid fa-plus"></i> Adauga O Noua Statie
    </a>
</th>