@model IEnumerable<StatiiIncarcare.Models.DB.Statie>

@{
    ViewData["Title"] = "Statii Incarcare";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">

 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>

        </tr>
     </thead>
     <tbody>
        @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                <form asp-action="Edit" asp-route-id="@item.IdStatie">
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                </form> 
                <form asp-action="Details" asp-route-id="@item.IdStatie">
                    <button type="submit" class="btn btn-outline-info">Details</button></form> 
                <form asp-action="Delete" asp-route-id="@item.IdStatie">
                    <button type="submit" class="btn btn-outline-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<th>
    <a asp-action="CreateStatie" class="btn btn-sm btn-success">
         <i class="fa-solid fa-plus"></i> Adauga O Noua Statie
    </a>
</th>